# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*
!models/.gitkeep

# Python
__pycache__/
*.pyc
.venv/
.ipynb_checkpoints/
*.egg-info/

# Reports
reports/figures/*
!reports/figures/.gitkeep

# OS / editor
.DS_Store
.vscode/
